*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}


/* header styling  */
header{
    background-color: white;
}

nav {
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid #000; */

}

.logo-container {
    width: 30%;
}

.logo-container img{
    width: 25%;
    /* height: 20%; */
    object-fit: cover;
}

.links-container{
    width: 60%;
    display: flex;
    justify-content: right;
}
ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color:  rgb(77, 77, 78);
    font-size: 1.1rem;
}

ul li a:active {
    text-decoration: underline;
}

.search-icon {
    width: 8vh;
    height: 8vh;
    background-color: rgb(224, 224, 233);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon img {
    width: 50%;
    height: 50%;
    /* color: red; */
}